@tailwind base;

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    /* border-radius: 100vh; */
    background: #141625;
}

*::-webkit-scrollbar-thumb {
    background: #88c8ff;
    border-radius: 100vh;
}

*::-webkit-scrollbar-thumb:hover {
    background: #32eef0;
}

@tailwind components;
@tailwind utilities;

html {
    @apply scroll-smooth;
}

.desktop-navigation ul li:nth-child(1).active ~ .indicator {
    @apply translate-x-[calc(90px_*_0)] bg-primary-blue shadow-[0_15px_25px_#88C8FF99];
}
.desktop-navigation ul li:nth-child(2).active ~ .indicator {
    @apply translate-x-[calc(90px_*_1)] bg-primary-blue shadow-[0_15px_25px_#88C8FF99];
}
.desktop-navigation ul li:nth-child(3).active ~ .indicator {
    @apply translate-x-[calc(90px_*_2)] bg-primary-blue shadow-[0_15px_25px_#88C8FF99];
}
.desktop-navigation ul li:nth-child(4).active ~ .indicator {
    @apply translate-x-[calc(90px_*_3)] bg-primary-blue shadow-[0_15px_25px_#88C8FF99];
}
.desktop-navigation ul li:nth-child(5).active ~ .indicator {
    @apply translate-x-[calc(90px_*_4)] bg-primary-blue shadow-[0_15px_25px_#88C8FF99];
}

.input-container span:before,
.input-container span:after {
    @apply absolute top-1/2 h-[5px] w-[10%] -translate-y-1/2 bg-dark-blue opacity-0 transition-all duration-300 content-[""];
}
.input-container span:before {
    @apply left-1/2;
}
.input-container span:after {
    @apply right-1/2;
}
.input-container.focus label {
    @apply top-0 left-[25px] -translate-y-1/2 text-[0.8rem];
}
.input-container.focus span:before,
.input-container.focus span:after {
    @apply w-1/2 opacity-100;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #88c8ff;
    -webkit-box-shadow: 0 0 0px 40rem #141625 inset;
}
